.features {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--secondary-color);
}

.features__container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 0px 16px;
  gap: 40px;
}

.features-flex{
  flex: 1 360px;
}

.features__text {
  line-height: 1.43;
  color: var(--text-color);
  margin-bottom: 41px;
}
