.features {
    position: relative;
    padding-top: 140px;
    padding-bottom: 100px;
    background-color: var(--secondary-color);
  }
  
  .features::before {
    content: "";
    display: block;
    width: 42px;
    height: 8px;
    background-color: var(--accent-color);
    position: absolute;
    margin: 0;
    top: 100px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
  
  .features__container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    column-width: 40%;
	  column-count: 2;
	  column-gap: 6%;
    padding: 0px 16px;
  }
  
  .features__text {  
    line-height: 1.43;
    color: var(--text-color);
    margin-bottom: 41px;
  }