.header {
  background-color: var(--primary-color);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
}

.header__logo {
  width: 128px;
  padding-top: 8px;
  padding-bottom: 7px;
}

.header-nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-nav__item:not(:last-child) {
  margin-right: 24px;
}

.header-nav__link {
  padding: 10px 0px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;

  color: var(--white-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav__link:hover,
.header-nav__link:focus {
  color: var(--accent-color);
}
