.privilege {
  margin-top: 100px;
  margin-bottom: 100px;
}

.privilege h2 {
  margin-bottom: 12px;

  font-size: 32px;
  line-height: 1.12;
  text-align: center;

  color: var(--primary-color);
}

.privilege-container {
  margin-left: auto;
  margin-right: auto;

  width: 600px;
}

.privilege__text {
  margin-bottom: 30px;

  font-size: 16px;
  line-height: 1.5;
  text-align: center;

  color: var(--primary-color);
}

.privilege__list {
  display: grid;
  grid-template-columns: 568px 568px;
  grid-gap: 32px;
}

.privilege__item {
  display: grid;
  grid-template-columns: 36px 516px;
  grid-gap: 16px;
}

.privilege__item-text {
  line-height: 1.43;
  color: var(--primary-color);
}

.privilege__item-text--dark {
  color: var(--text-color);
}
