.slogan__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 100px;
}

.slogan__container {
  width: 552px;
}

.slogan img {
  width: 100%;
}

.slogan .rectangle {
  margin-top: 100px;
}

.slogan h2 {
  text-align:start;
}

.slogan__text {
  font-size: 16px;
  line-height: 1.5;

  color: var(--primary-color);
}

.slogan__list {
  width: 552px;
  display: grid;
  grid-template-columns: 260px 260px;
  grid-gap: 32px;
}

.slogan__item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 13px;
}

.slogan-icon {
  display: block;
  width: 36px;
  height: 36px;
}

.slogan__item-text {
  width: 208px;
  margin-left: 16px;

  line-height: 1.43;

  color: var(--text-color);
}
