<section class="advantages">
    <div class="container">
        <div class="rectangle-flex">
            <div class="rectangle"></div>
        </div>
        <h2>Sleeping arrangements.</h2>
        <p class="advantages__pre-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque aliquam odio et faucibus. Nulla rhoncus feugiat eros quis consectetur.</p>
        <ul class="advantages__list list">
            <li class="advantages__item">
                <svg class="advantages-icon" width="64" height="64">
                    <use href="./images/icons.svg#icon-bed-icon"></use>
                  </svg>
                <p class="advantages__item-title">Beds</p>
                <p class="advantages__item-text">The cabin is equipped with 12 beds, 4 of which are in bunk. The rent includes linens for all beds.</p>
            </li>
            <li class="advantages__item">
                <svg class="advantages-icon" width="64" height="64">
                    <use href="./images/icons.svg#icon-combined-shape-icon"></use>
                  </svg>
                <p class="advantages__item-title">Bedrooms</p>
                <p class="advantages__item-text">Spread out over two floors, the cabin offers 4 bedrooms. Ranging from 2 to 4 beds per room.</p>
            </li>
            <li class="advantages__item">
                <svg class="advantages-icon" width="64" height="64">
                    <use href="./images/icons.svg#icon-bath-tub-icon"></use>
                  </svg>
                <p class="advantages__item-title">Bathrooms</p>
                <p class="advantages__item-text">The cabin has three bathrooms, all equipped with showers and one with a bath tub,</p>
            </li>
        </ul>
    </div>
</section>