<section class="banner">
    <div class="container">
        <div class="rectangle-flex">
            <div class="rectangle"></div>
        </div>
        <h2>We're already booked up for the spring — hurry up & secure your stay for the summer.</h2>
        <p class="banner__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque aliquam odio et faucibus.</p>
        <div class="banner_btns">
            <button type="button" class="contact__btn contact__btn--light">Contact</button>
            <button type="button" class="contact__btn contact__btn--dark">Book now</button>
        </div>
    </div>
</section> 