<section class="features">
    <div class="container">
        <h2 class="visually-hidden">Features</h2>
        <div class="features__container">
            <p class="features__text">The Guest House is the perfect weekend get-away housing. Located in the Norwegian archipelago, Lofoten, it's a great escape from the hustle and bustle of the city. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque aliquam odio et faucibus. Nulla rhoncus feugiat eros quis consectetur. Morbi neque ex, condimentum dapibus congue et, vulputate ut ligula. 
               <br> Below you'll find information about the accommodation and what's included in the price. Don't hesitate to reach out to us vi the contact page if you have any questions around your stay.
            </p>
            <!-- <p class="features__text">Below you'll find information about the accommodation and what's included in the price. Don't hesitate to reach out to us vi the contact page if you have any questions around your stay.</p> -->
            <button class="btn btn--dark" type="button">Book now</button>
        </div>
    </div>
</section>