<footer class="footer">
    <div class="container">
        <div class="footer__flex">
            <div class="footer__pages">
                <p class="footer__box">Pages</p>
                <ul class="footer__pages-list list">
                    <li class="footer__page-item">
                        <a class="footer__page-link link" href="#">Start</a>
                    </li>
                    <li class="footer__page-item">
                        <a class="footer__page-link link" href="#">Contact</a>
                    </li>
                    <li class="footer__page-item">
                        <a class="footer__page-link link" href="#">Our history</a>
                    </li>
                    <li class="footer__page-item">
                        <a class="footer__page-link link" href="#">Licenses</a>
                    </li>
                    <li class="footer__page-item">
                        <a class="footer__page-link link" href="#">Instructions</a>
                    </li>
                    <li class="footer__page-item">
                        <a class="footer__page-link link" href="#">Style guide</a>
                    </li>
                </ul>
            </div>
            <div class="footer__social">
                <p class="footer__box">Social Media</p>
                <ul class="footer__social-list list">
                    <li class="footer__social-item">
                        <a class="footer__social-link link" href="https://www.airbnb.com.ua/poland/stays">
                            <svg class="footer-icon" width="32" height="32">
                                <use href="./images/icons.svg#icon-airbnb-icon"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer__social-item">
                        <a class="footer__social-link link" href="https://facebook.com/">
                            <svg class="footer-icon" width="32" height="32">
                                <use href="./images/icons.svg#icon-facebook-icon"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer__social-item">
                        <a class="footer__social-link link" href="https://www.instagram.com/">
                            <svg class="footer-icon" width="32" height="32">
                                <use href="./images/icons.svg#icon-instagram-icon"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer__submit">
                <p class="footer__box">Newsletter</p>
                <p class="footer__submit-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
                <div class="footer__submit-form">
                    <label class="footer__submit-label" for="submit-mail"></label>
                    <input class="footer__submit-input" type="email" name="submit-mail" id="submit-mail" placeholder="Email">
                    <button class="footer__submit-btn" type="submit">Submit</button>
                </div>

            </div>
        </div>

        <img src="./images/logo.png" alt="logo" class="footer__logo">  

        <p class="footer__text">
            &copy Guest House, LLC. All rights reserved. Powered by <a class="footer__text-link link" href="#">Webflow</a>
        </p>
        <ul class="footer__contacts-list list">
            <li class="footer__contacts-item">
                <a class="footer__contact-link link" href="tel:+470702881234"
                >+47 (0) 702 88 12 34</a
              >
            </li>

            <li class="footer__contacts-item">
                <a
                class="footer__contact-link link"
                href="mailto:example@webflow.io"
                >example@webflow.io</a
              >
            </li>

            <li class="footer__contacts-item">
                <a
                class="footer__contact-link link"
                href="https://goo.gl/maps/weL76iEVU4vihEQe7"
                target="_blank"
                rel="noreferrer noopener"
                >Klubbvika 12, 8310 Kabelvag, Norway</a
              >
            </li>
        </ul>    
    </div>
</footer>