<header class="header">
    <div class="container">
        <nav class="header-nav">
        <a class="logo link" href="./index.html">
            <img class="header__logo" src="./images/logo.png" alt="logo">
        </a>
        <ul class="header-nav__list list">
            <li class="header-nav__item"><a class="header-nav__link link current" href="#">Start</a></li>
            <li class="header-nav__item"><a class="header-nav__link link" href="#">Contact</a></li>
            <li class="header-nav__item"><a class="header-nav__link link" href="#">Our history</a></li>
        </ul>
        <button class="btn btn--light" type="button">Book now</button>
    </nav>
    </div>
    
</header>