<header class="header">
  <div class="container header-container flex">
    <a class="logo link" href="./index.html">
      <img class="header__logo" src="./images/logo.png" alt="logo" />
    </a>
    <nav class="header-nav flex">
      <ul class="header-nav__list list flex">
        <li class="header-nav__item">
          <a class="header-nav__link link current" href="#">Start</a>
        </li>
        <li class="header-nav__item"><a class="header-nav__link link" href="#">Contact</a></li>
        <li class="header-nav__item"><a class="header-nav__link link" href="#">Our history</a></li>
      </ul>
    </nav>
    <button class="btn btn--light" type="button">Book now</button>
  </div>
</header>
