<section class="privilege">
    <div class="container">
        <h2 class="visually-hidden">Privilege</h2>
        <h3 class="privilege__title">The perfect escape.</h3>
        <p class="privilege__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque aliquam odio et faucibus. Nulla rhoncus feugiat eros quis consectetur.</p>
        <ul class="privilege__list list">

            <li class="privilege__item">
                <svg class="privilege-icon" width="36" height="36">
                    <use href="./images/icons.svg#icon-stove-icon"></use>
                </svg>
                <div class="privilege__item-container">
                    <p class="privilege__item-text">Modern Kitchen Appliances</p>
                    <p class="privilege__item-text privilege__item-text--dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </li>

            <li class="privilege__item">
                <svg class="privilege-icon" width="36" height="36">
                    <use href="./images/icons.svg#icon-air-conditioner-icon"></use>
                </svg>
                <div class="privilege__item-container">
                    <p class="privilege__item-text">Air Conditioner</p>
                    <p class="privilege__item-text privilege__item-text--dark">Nullam scelerisque aliquam odio et faucibus.</p>
                </div>
            </li>

            <li class="privilege__item">
                <svg class="privilege-icon" width="36" height="36">
                    <use href="./images/icons.svg#icon-trees-icon"></use>
                </svg>
                <div class="privilege__item-container">
                    <p class="privilege__item-text">Outdoor Paths</p>
                    <p class="privilege__item-text privilege__item-text--dark">Nulla rhoncus feugiat eros quis consectetur.</p>
                </div>
            </li>

            <li class="privilege__item">
                <svg class="privilege-icon" width="36" height="36">
                    <use href="./images/icons.svg#icon-shape-icon1"></use>
                </svg>
                <div class="privilege__item-container">
                    <p class="privilege__item-text">Storage Solutions</p>
                    <p class="privilege__item-text privilege__item-text--dark">Morbi neque ex, condimentum dapibus congue et, vulputate ut ligula.</p>
                </div>
            </li>

            <li class="privilege__item">
                <svg class="privilege-icon" width="36" height="36">
                    <use href="./images/icons.svg#icon-shape-icon"></use>
                </svg>
                <div class="privilege__item-container">
                    <p class="privilege__item-text">Coffee Maker</p>
                    <p class="privilege__item-text privilege__item-text--dark">Vestibulum sit amet urna turpis. Mauris euismod elit et nisi ultrices, ut faucibus orci tincidunt.</p>
                </div>
            </li>

            

            <li class="privilege__item">
                <svg class="privilege-icon" width="36" height="36">
                    <use href="./images/icons.svg#icon-glass-icon"></use>
                </svg>
                <div class="privilege__item-container">
                    <p class="privilege__item-text">Cutlery Selection</p>
                    <p class="privilege__item-text privilege__item-text--dark">Duis tristique sed lorem a vestibulum.</p>
                </div>
            </li>

            <li class="privilege__item">
                <svg class="privilege-icon" width="36" height="36">
                    <use href="./images/icons.svg#icon-forest-icon"></use>
                </svg>
                <div class="privilege__item-container">
                    <p class="privilege__item-text">Natural Scenery</p>
                    <p class="privilege__item-text privilege__item-text--dark">Cras commodo consequat orci, in convallis risus egestas non.</p>
                </div>
            </li>

            <li class="privilege__item">
                <svg class="privilege-icon" width="36" height="36">
                    <use href="./images/icons.svg#icon-pizza-icon"></use>
                </svg>
                <div class="privilege__item-container">
                    <p class="privilege__item-text">Take-away Options</p>
                    <p class="privilege__item-text privilege__item-text--dark">Nulla efficitur auctor hendrerit. Etiam ut orci varius, faucibus libero ac, cursus quam.</p>
                </div>
            </li>
        </ul>
    </div>
</section>    