<article class="reviews">
    <div class="container">
        <h2 class="visually-hidden">Reviews</h2>
        <h3 class="reviews__title">Past guests.</h3>
        <p class="reviews__pre-title">Don't take our word for it! Have a look at what our previous guests say about their stay at the Guest House.</p>
        <ul class="reviews__list list">

            <li class="reviews__item">
                <div class="reviews__stars">
                    <svg class="reviews-icon" width="18" height="18">
                        <use href="./images/icons.svg#icon-star-icon"></use>
                    </svg>
                    <svg class="reviews-icon" width="18" height="18">
                        <use href="./images/icons.svg#icon-star-icon"></use>
                    </svg>
                    <svg class="reviews-icon" width="18" height="18">
                        <use href="./images/icons.svg#icon-star-icon"></use>
                    </svg>
                    <svg class="reviews-icon" width="18" height="18">
                        <use href="./images/icons.svg#icon-star-icon"></use>
                    </svg>
                    <svg class="reviews-icon" width="18" height="18">
                        <use href="./images/icons.svg#icon-star-icon"></use>
                    </svg>
                </div>
                <p class="reviews__pre-text">We had an amazing stay at the Guest House!</p>
                <p class="reviews__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
                <p class="reviews__user">Nate Davidsson</p>
            </li>

            <li class="reviews__item">
                <div class="reviews__stars">
                    <svg class="reviews-icon" width="18" height="18">
                        <use href="./images/icons.svg#icon-star-icon"></use>
                    </svg>
                    <svg class="reviews-icon" width="18" height="18">
                        <use href="./images/icons.svg#icon-star-icon"></use>
                    </svg>
                    <svg class="reviews-icon" width="18" height="18">
                        <use href="./images/icons.svg#icon-star-icon"></use>
                    </svg>
                    <svg class="reviews-icon" width="18" height="18">
                        <use href="./images/icons.svg#icon-star-icon"></use>
                    </svg>
                    <svg class="reviews-icon" width="18" height="18">
                        <use href="./images/icons.svg#icon-star-outline-icon"></use>
                    </svg>
                </div>
                <p class="reviews__pre-text">Beautiful little hideaway.</p>
                <p class="reviews__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet.</p>
                <p class="reviews__user">Laura Paulie</p>
            </li>

            <li class="reviews__item">
                <div class="reviews__stars">
                    <svg class="reviews-icon" width="18" height="18">
                        <use href="./images/icons.svg#icon-star-icon"></use>
                    </svg>
                    <svg class="reviews-icon" width="18" height="18">
                        <use href="./images/icons.svg#icon-star-icon"></use>
                    </svg>
                    <svg class="reviews-icon" width="18" height="18">
                        <use href="./images/icons.svg#icon-star-icon"></use>
                    </svg>
                    <svg class="reviews-icon" width="18" height="18">
                        <use href="./images/icons.svg#icon-star-icon"></use>
                    </svg>
                    <svg class="reviews-icon" width="18" height="18">
                        <use href="./images/icons.svg#icon-star-icon"></use>
                    </svg>
                </div>
                <p class="reviews__pre-text">Best vacation ever!</p>
                <p class="reviews__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
                <p class="reviews__user">Greg Todd</p>
            </li>
            
        </ul>
        <div class="reviews-circle">
            <button type="button" class="reviews__btn-right"></button>
            <button type="button" class="reviews__btn-left"></button>
        </div>
    </div>
</article>