<section class="box-img">
    <img src="./images/frame.jpg" alt="room">
</section>

<section class="slogan">
    <div class="container slogan__flex">
        <h2 class="visually-hidden">Slogan</h2>
        <div class="slogan__container">
            <h3 class="slogan__title">Come together.</h3>
            <p class="slogan__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque aliquam odio et faucibus.</p>
        </div>
        <ul class="slogan__list list">
            <li class="slogan__item">
                <svg class="slogan-icon" width="36" height="36">
                    <use href="./images/icons.svg#icon-wi-fi-icon"></use>
                </svg>
                <p class="slogan__item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </li>
           
            <li class="slogan__item">
                <svg class="slogan-icon" width="36" height="36">
                    <use href="./images/icons.svg#icon-bread-icon"></use>
                </svg>
                <p class="slogan__item-text">Nullam scelerisque aliquam odio et faucibus.</p>
            </li> 

            <li class="slogan__item">
                <svg class="slogan-icon" width="36" height="36">
                    <use href="./images/icons.svg#icon-hanger-icon"></use>
                </svg>
                <p class="slogan__item-text">Nulla rhoncus feugiat eros quis consectetur.</p>
            </li>

            <li class="slogan__item">
                <svg class="slogan-icon" width="36" height="36">
                    <use href="./images/icons.svg#icon-cutlery-icon"></use>
                </svg>
                <p class="slogan__item-text">Morbi neque ex, condimentum.</p>
            </li>
        </ul>
    </div>
</section>